{% extends 'base.html.twig' %}
{% block body %}


            
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">SymfonyDemo</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('user_index')}}">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('user_route')}}">Routing</a></li>
            <li><a href="{{path('user_controller')}}">Controller</a></li>
            <li><a href="{{path('user_serivce_argument')}}">Service</a></li>
            <li><a href="{{path('user_service_params')}}">ServiceParamterEnv</a></li>
            <li><a href="generatingUrl">GenerateUrl</a></li>
            <li><a href="sys_email_log">EmailSend</a></li>
          </ul>
        </li> 
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 2 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('getSession')}}">Session</a></li>
            <li><a href="{{path('redirectUrl')}}">RedirectUrl</a></li>
            <li><a href="{{path('user_cache')}}">Cache</a></li>
            <li><a href="user_twig">Tiwg</a></li>
             <li><a href="user_translator">Translator</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CRUD <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('list_user')}}">ShowUser</a></li>
             <li><a href="{{ path('get_user_custom_sql_query')}}">ShowUser-1</a></li>
            <li><a href="{{ path('create_user')}}">AddUser</a></li>
            <li><a href="{{ path('update_user')}}">EditUser</a></li>
            <li><a href="{{ path('delete_user') }}">DeleteUSer</a></li>
            <li><a href="{{ path('add_user_work')}}">AddUser-UserWork</a></li>
            <li><a href="{{ path('get_user_work_list')}}">getUser-UserWork</a></li>
          
          </ul>
        </li>
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Events <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><a href="{{ path('get_user_custom_sql_query')}}">ShowUser-1</a></li>
            <li><a href="{{ url('user_event_new')}}" target="_blank">AddUser</a></li>
            <li><a href="{{ path('user_event_update')}}" target="_blank">EditUser</a></li>
            <li><a href="{{ path('user_event_delete') }}" target="_blank">DeleteUSer</a></li>
          
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Twig <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><a href="{{ path('twig_index') }}">TiwgIndex</a></li>
            <li><a href="{{ url('twig_render_controller')}}" target="_blank">RenderController</a></li>
            <li><a href="{{ path('twig_render_url_path')}}" target="_blank">RenderUrl-Path</a></li>
            <li><a href="{{ path('twig_master_value')}}" target="_blank">Master-Variable</a></li>
          </ul>
        </li>
        
        {#<li><a href="{{ path('setMessageRequest') }}">Contact</a></li>#}
         <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">HttpClient <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="{{ path('test_http_client') }}">HttpClient</a></li>
             <li><a href="{{ path('scoped_http_seller') }}">HttpClientScoped</a></li>
          
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ajax <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a href="{{ path('app_ajax') }}">AjaxIndex</a></li>
             <li><a href="{{ path('app_ajax_call') }}">AjaxGet</a></li>
             <li><a href="{{ path('app_ajax_call_request') }}">AjaxPost</a></li>
          
        </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Users <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{{ path('get_user_list')}}">Users</a></li>
              <li><a href="{{ path('user_address_list')}}">Address</a></li>
              <li><a href="{{ path('app_branch_list')}}">Branch</a></li>
              <li><a href="{{ path('get_user_list')}}">TaskList</a></li>
          
        </ul>
        </li>
      
      <li><a href="{{ path('app_contact_list')}}">Contact</a></li>
      <li><a href="{{ path('dependency_injection')}}">DependencyInjection</a></li>
        
        <li class="active"><a href="/">Logout</a></li>
      </ul>
    </div>
  </nav>

{% endblock %}
