{# templates/users/index.html.twig #}
{% extends 'base.html.twig' %}
    {% block header %}


     {% set menuitem = 'users/menu.html.twig' %}
     {% include menuitem %}
    
    {% endblock %}
        {% block stylesheets %}
         
        {% endblock %}

        {% block javascripts %}
        
         <script src="{{ asset('js/dataTables.min.js') }}"></script>
    

        {% endblock %}  
        
      {% block body %}
      
      {{ a_variable }}
    
    <div class="container">

    {% trans  into 'fr_FR' %} symfony.great {% endtrans %}  and  {% trans %} Hello {% endtrans %}  User list
    <br>
    <a href="{{path('user_add_form')}}" class="btn btn-primary">AddUsers</a>
    <a href="{{path('user_class_custom_form')}}" class="btn btn-primary">AddUsersCustomForm</a>
    <h2>My Users</h2>
     <img src="{{asset('/images/11.jpeg')}}" alt="Girl" width="100" height="100">
     <img src="{{asset('/images/10.jpeg')}}" alt="Girl" width="100" height="100" style="margin-left: 82%;">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    
   
    <table id="myTable">
      <tr class="header">
        <th style="width:60%;">Name</th>
        <th style="width:40%;">Email</th>
        <th style="width:40%;">Action</th>
      </tr>
        {% for user in users %}
    
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><a href="{{ url('get_user_update',{'id': user.id })}}">Edit</a>|<a href="{{ url('get_user_delete',{'id': user.id })}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
   
    
    </div>
   {% endblock %}  

{% block footer %}
    <p style="text-align: center;">All Copy right@2023</p>
{% endblock %}