{# templates/users/index.html.twig #}
{% extends 'base.html.twig' %}
    {% block header %}


     {% set menuitem = 'users/menu.html.twig' %}
     {% include menuitem %}
    
    {% endblock %}
        {% block stylesheets %}
         
        {% endblock %}

        {% block javascripts %}
        
         <script src="{{ asset('js/dataTables.min.js') }}"></script>
    

        {% endblock %}  
        
      {% block body %}
      
      {{ a_variable }}
    
    <div class="container">

    <h2>My Users Works</h2>
     
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    
   
    <table id="myTable">
      <tr class="header">
        <th style="width:60%;">Name</th>
        <th style="width:40%;">Email</th>
        <th style="width:40%;">Task</th>
        <th style="width:40%;">StartDate</th>
        <th style="width:40%;">EndDate</th>
        <th style="width:40%;">Status</th>
         <th style="width:40%;">Action</th>
      </tr>
        {% for user in users %}
    
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.taskname}}</td>
            <td>{{user.startdate}}</td>
            <td>{{user.enddate}}</td>
            <td>{{user.status}}</td>
            <td><a href="{{ url('get_user_work_delete',{'id': user.id })}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
   
    
    </div>
   {% endblock %}  

{% block footer %}
    <p style="text-align: center;">All Copy right@2023</p>
{% endblock %}